{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
    {% if cart.items %}
        <h4>Cart</h4>
        <table class="table">
            <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Add/Remove</th>
            </thead>
            {% for item in cart.items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.subtotal }}</td>
                    <td>
                        <a href="{% url 'add_to_cart' pk=item.product.pk %}">
                            <i class="fas fa-plus"></i>
                        </a>
                        /
                        <a href="{% url 'remove_single_cart' pk=item.product.pk %}">
                            <i class="fas fa-minus"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr class="font-weight-bold">
                <td>Total</td>
                <td></td>
                <td colspan="2">{{ cart.total }}</td>
            </tr>
        </table>
        <div class="text-center">
            <a href="{% url 'add_order' %}">
                <button type="button" class="btn btn-danger pull-right">Order Now</button>
            </a>
        </div>
    {% else %}
        <h4>Cart is empty!</h4>
    {% endif %}
{% endblock content %}
