{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h2>All products</h2>

    <div class="card-columns">
        {% for product in product_list %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <a href="#" class="btn btn-primary card-btn">More...</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}